<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
    <% include partials/template/main-menu.ejs %>
    <% include partials/template/header.ejs %>
    <% include partials/content/home.ejs %>
    <% include partials/template/footer.ejs %>
    <% include partials/template/scripts.ejs %>
  </body>
</html>
