<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellat animi dicta neque nostrum vel ad. Officia, totam hic quisquam vel architecto doloremque nesciunt, asperiores obcaecati provident distinctio voluptatibus praesentium!
</p>
